test.*
test
*.lnk
repos
output.txt
.env
__pycache__
*.css.map
__pycache__
node_modules/*
.env
.venv
env/
venv/
ENV/
*.lnk
*.log
*.inv
.vscode/
.idea/
*password*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.css.map
*/*/repoIcons/*.*
!repoIcons

*/repos/*
!repos

RepoImg.png
/web/*.png