#header {
  width: 910%;
  overflow: hidden;
  height: 50px;
  background-color: #1e272e;
  padding: 10px;
}

#header img {
  max-width: 200px;
}

#header #path {
  font-size: xx-large;
}

#header #path a {
  text-decoration: none;
  color: #7e9aa5;
}

#header #path a:hover {
  font-weight: bold;
  color: #afc4cc;
}

#ExplorerMenue {
  background-color: #1e272e;
  margin-top: 10px;
  margin-left: 5%;
  padding: 1%;
  width: 88%;
  height: 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#ExplorerMenue #BranchesContent {
  margin-left: 11rem;
  white-space: nowrap;
  word-break: keep-all;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background-color: #102a3b;
  border-radius: 10px;
  padding: 5px;
  -webkit-box-shadow: -4px -2px 10px -1px #000000;
          box-shadow: -4px -2px 10px -1px #000000;
}

#ExplorerMenue #BranchesContent div {
  cursor: pointer;
  background-color: #14374e;
  border-radius: 10px;
  padding: 5px;
}

#ExplorerMenue #BranchesContent div:hover {
  background-color: #21475f;
}

#ExplorerMenue #CodeContent {
  z-index: 10;
  overflow-x: auto;
  white-space: nowrap;
  word-break: keep-all;
  padding: 10px;
  width: 600px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background-color: #102a3b;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: -4px -2px 10px -1px #000000;
          box-shadow: -4px -2px 10px -1px #000000;
}

#ExplorerMenue #CodeContent hr {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
}

#ExplorerMenue #CodeContent code {
  background-color: #445563;
  font-size: large;
  padding: 2px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 5px;
}

#explorer {
  margin-left: 5%;
  padding: 1%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 88%;
  background-color: #171f25;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#explorer .explorerContent {
  background-color: #2e424f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: xx-large;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
  margin-bottom: 10px;
  width: 99%;
  padding: 4px;
  border-radius: 10px;
}

#explorer .explorerContent:hover {
  background-color: #2f4a5d;
}

#explorer .explorerContent .explorerContentHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80%;
}

#explorer .explorerContent .explorerContentHead img {
  z-index: 0;
  position: relative;
  right: 0px;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
}

#explorer .explorerContent .explorerContentHead img:hover {
  background-color: #405563;
}

#explorer .explorerContent .explorerContentHead span {
  overflow-x: auto;
  white-space: nowrap;
  word-break: keep-all;
}

#explorer .explorerContent .lastUpdate {
  color: #8ea5ad;
  font-size: medium;
  margin: 0px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
/*# sourceMappingURL=explorer.css.map */