#header {
    display: flex;
    justify-content: space-between;

    #DokumentationLink {
        margin-right: 8%;
    }

    width: 110%;
    overflow: hidden;
    height: 50px;
    background-color: rgb(30, 39, 46);
    padding: 10px;

    img {
        max-width: 200px;
    }
}

#RepoMenue {
    background-color: rgb(30, 39, 46);
    margin-top: 10px;
    margin-left: 5%;
    padding: 1%;
    width: 88%;
    height: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#repos {
    margin-left: 5%;
    padding: 1%;
    height: max-content;
    width: 88%;
    background-color: rgb(23, 31, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .repo {
        background-color: rgb(46, 66, 79);
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;
        font-size: xx-large;
        height: fit-content;
        text-align: left;
        margin-bottom: 10px;
        width: 99%;
        padding: 4px;
        border-radius: 10px;

        &:hover {
            background-color: rgb(47, 74, 93);
        }

        span {
            left: 0px;
            flex-grow: 5;

            .title {
                overflow-x: auto;
                white-space: nowrap;
                word-break: keep-all;
            }

            .description {
                color: rgb(142, 165, 173);
                font-size: medium;
                margin: 0px;
            }
        }

        .icon {
            height: 70px;
            padding: 4px;
            margin-right: 10px;
            width: auto;
            font-size: x-large;
            border-radius: 20px;
            border-width: 0px;
            border-color: transparent;
            background-color: black;
        }

        img {
            position: relative;
            right: 0px;
            width: 35px;
            height: 35px;
            padding: 5px;
            border-radius: 5px;

            &:hover {
                background-color: rgb(64, 85, 99);
            }
        }
    }
}